<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Ticket Bundle Demo App!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <style type="text/css">
            body {
                padding-top: 50px;
            }
            .starter-template {
                padding: 40px 15px;
            }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Ticket Bundle Demo App</a>
                </div>

                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="{{ path('homepage') }}">Home</a></li>
                        <li><a href="{{ path('hackzilla_ticket') }}">Tickets</a></li>
                        <li><a href="http://www.hackzilla.org/#about">About</a></li>
                        <li><a href="http://www.hackzilla.org/#contact">Contact</a></li>
                    </ul>
                    {% if is_granted("ROLE_USER") %}
                    <div id="profile" class="navbar-btn navbar-right">
                        <div class="btn-group">
                            <a class="btn btn-primary" href="#"><i class="glyphicon glyphicon-user"> </i> {{ app.user.username }}</a>
                            <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('fos_user_security_logout') }}"><span class="glyphicon glyphicon-off"></span> Logout</a></li>
                            </ul>
                        </div>
                    </div>
                        {% else %}
                        <a href="{{ path('fos_user_security_login') }}" class="btn btn-primary navbar-btn navbar-right">Login</a>
                    {% endif %}
                </div><!--/.nav-collapse -->
            </div>
        </nav>

        <div class="container">

            <div class="starter-template">
                {% block body %}{% endblock %}
            </div>

        </div><!-- /.container -->

        {% block javascripts %}{% endblock %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    </body>
</html>
